/* 1. Font personalizzato */
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Applicazione font e colori Custom S.p.A. */
:root {
  --md-text-font: 'Titillium Web', sans-serif;

  --md-primary-fg-color:        #41617a;
  --md-primary-fg-color--light: #A3BDD1;
  --md-primary-fg-color--dark:  #6B8FA8;
  --md-primary-bg-color:        #ffffff;
  --md-primary-bg-color--light: rgba(255, 255, 255, 0.7);

  --md-footer-bg-color:         #41617a;
  --md-footer-bottom-bg-color:  #3A5A73;
  --md-footer-fg-color:         #ffffff;
  --md-footer-bottom-fg-color:  #ffffff;
}

/* 3. Fallback font */
body, h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Titillium Web', sans-serif;
}
